.box__btn {
    min-width: 30%;
    height: 53px;
}

.cta__btn {
    padding: .5vw 2.2vw;
    border-radius: 4px;
    cursor: pointer;
}

.cta__text {
    font-weight: var(--open-sans-fw-semi-bold);
    font-size: clamp(1.6rem, 1.5429rem + 0.2857vw, var(--fs-button));
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--clr-text-light);
}

.cta__btn--primary {
    background: var(--clr-primary);
    border: 1.5px solid var(--clr-text-dark);
    box-shadow: 2px 2px 0px var(--clr-text-dark);
}

.cta__text--primary {
    color: var(--clr-text-light);
}

.cta__btn--secondary {
    background: var(--clr-secondary);
    border: 1.5px solid var(--clr-shadow-btn2);
    box-shadow: 2px 2px 0px var(--clr-shadow-btn2);
}

.cta__text--secondary {
    color: var(--clr-text-dark);
}

.cta__btn--primary:hover, .cta__btn--secondary:hover{
    opacity: .7;
}