.cta__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    border-radius: 4px;
}

.cta__text {
    font-weight: var(--open-sans-fw-semi-bold);
    font-size: var(--fs-button);
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--clr-text-light);
}

.cta__btn--primary {
    background: var(--clr-primary);
    border: 1.5px solid var(--clr-text-dark);
    box-shadow: 2px 2px 0px var(--clr-text-dark);
}

.cta__text--primary {
    color: var(--clr-text-light);
}

.cta__btn--secondary {
    background: var(--clr-secondary);
    border: 1.5px solid var(--clr-shadow-btn2);
    box-shadow: 2px 2px 0px var(--clr-shadow-btn2);
}

.cta__text--secondary {
    color: var(--clr-text-dark);
}

.cta__btn--msg {
    background: var(--clr-form-success);
    border: 1.5px solid var(--clr-text-light);
    box-shadow: 2px 2px 0px var(--clr-text-light);
}

.cta__text--msg {
    color: var(--clr-text-light);
}