.cta__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 8px 32px;
    background: var(--clr-primary);
    border: 1.5px solid var(--clr-text-dark);
    box-shadow: 2px 2px 0px var(--clr-text-dark);
    border-radius: 4px;
}

.cta__text {
    font-weight: var(--open-sans-fw-semi-bold);
    font-size: var(--fs-button);
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--clr-text-light);

}