.form {
    width: 100%;
    background-color: var(--clr-background);
}

.form__wrapper {
    padding: 0px 7vw;
}

.form__container {
    width: 100%;
    max-width: 768px;
    margin:5.5vw 0px 11.1vw 0px;
    padding: 0px;
    gap: 32px;
    border-radius: 8px;
}
