.hero {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    margin:80px 0px;
    padding: 0px 100px;
    gap: 15px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.hero__right {
    background-image: url(../../assets/hero-img.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.box__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.box__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

}
.box__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    isolation: isolate;
    position: relative;
    font-family: var(--font-family-secondary);
}

.head__text {

    font-weight: var(--ubuntu-fw-light);
    font-size: var(--fs-top-text);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--clr-text-top);
}

.head__h1 {
    max-width: 14ch;
    font-weight: var(--ubuntu-fw-bold);
    font-size: var(--fs-header1);
    line-height: 110%;
    letter-spacing: -0.035em;
    color:var(--clr-text-dark);
    z-index: 2;

}

.head__special {
    font-weight: var(--ubuntu-fw-light);
    font-style: italic;
}

.head__img {
    background-image: url(../../assets//special-underline.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 156px;
}

.box__info {
    /* width: 100%;
    height: 81px; */
}

.box__text {
    font-weight: var(--open-sans-fw-light);
    font-size: var(--fs-hero-text);
    line-height: 27px;
    color:var(--clr-text-dark);
}



