.offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:48px;
    margin:48px 0 80px 0;
}

.offer__header {
    font-family: var(--font-family-secondary);
    font-weight: var(--ubuntu-fw-medium);
    font-size: var(--fs-header2);
    line-height: 110%;
    /* identical to box height, or 53px */
    text-align: center;
    color: var(--clr-text-dark);
}

.offer__cards {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: max-content;
}
