.offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:48px;
    margin:48px 0 80px 0;
}


.offer__cards {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: auto;
    gap:32px;
}
