.delivery {
    width: 100%;
    background-color: var(--clr-background);
    margin-bottom: 5.5vw;
}

.delivery__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7vw;
    gap: 60px;
}

.delivery__photo {
    flex: 1 1 30%;
    max-width: 340px;
}

.delivery__list {
    flex: 1 1 40%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.delivery__items {
    gap: 16px;
}

.delivery__box {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 15px;

}

.delivery__icon {
    display: inline-block;
    width: 15px;
    height: 18px;
    background-image: url(../../assets/list-icon.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.delivery__item {
    height: 24px;
}

.delivery__text {
    font-weight: var(--open-sans-fw-light);
    font-size: var(--fs-text);
    line-height: 150%;
    color: var(--clr-text-dark);
}


/* RWD */

@media screen and (max-width: 880px) {
    .delivery__container {
        flex-direction: column;
    }
    .delivery__list{
        align-items: center;
    }
}

