.header__h2 {
    width: 100%;
    font-family: var(--font-family-secondary);
    font-weight: var(--ubuntu-fw-medium);
    font-size: clamp(1.8rem, 0.9429rem + 4.2857vw, var(--fs-header2));
    line-height: 110%;
    text-align: center;
    color: var(--clr-text-dark);
    align-self: stretch;
    padding: 4px;
}

.header__h2--italic {
    font-style: italic;
}

.header__h2--left {
    text-align: left;
}

/* RWD */

@media screen and (max-width: 1010px) {
    .header__h2--left {
        text-align: center;
    }

}