.tools {
    width: 100%;
    padding: 0 7vw;
    gap:32px;
}

.tools__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 32px;
    gap: 16px;
    border-radius: 8px;
}

/* RWD */

@media screen and (max-width: 690px) {
    .tools__container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}