.tools {
    width: 100%;
    padding: 0 100px;
    gap:32px;
}

.tools__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 32px;
    gap: 16px;
    border-radius: 8px;
}