.form__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    align-self: stretch;
    position: relative;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    align-self: stretch;
}
.input__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}
.input__label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #222222;
}

.input__field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 20px 0px 16px;
    gap: 10px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #1A3344;
    border-radius: 4px;
    align-self: stretch;
}

.input__box:last-child .input__field{
    height: 348px;
}

.input__error {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--clr-input-error);
}