.form__main {
    gap: 32px;
    align-self: stretch;
    position: relative;
}

.input__wrapper {
    gap: 12px;
    align-self: stretch;
}
.input__box {
    width: 100%;
    gap: 8px;
}
.input__label {
    font-weight: var(--open-sans-fw-regular);
    font-size: var(--fs-input-label);
    line-height: 19px;
    color: var(--clr-input-label);
}

.input__field {
    display: flex;
    align-items: flex-start;
    padding: 0px 20px 0px 16px;
    gap: 10px;
    height: 48px;
    background: var(--clr-white);
    border: 1px solid var(--clr-text-dark);
    border-radius: 4px;
    align-self: stretch;
}

.input__box:last-child .input__field{
    height: 250px;
}

.input__error {
    font-weight: var(--open-sans-fw-regular);
    font-size: var( --fs-input-label);
    color: var(--clr-input-error);
    line-height: 19px;
}

/* RWD */

@media screen and (max-width: 1010px) {
    .input__box:last-child .input__field{
        height: 125px;
    }

}