.logos {
    width:100%;
}

.logos__container {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 24px;

}

.logos__boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

}

.logos__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 28px;

}


