.advert {
    width: 100%;
    background-color: var(--clr-background);
}

.advert__container {
    padding: 24px 100px;
    gap: 63px;
}

.advert__left {
    width: 362px;
    height: 362px;
    position: relative;
}

.advert__right {
    width: 664px;
    padding: 0px;
    gap: 24px;
}

.advert__photo {
   min-height: 100%;
   object-fit: contain;
   position: absolute;
   left: 0.5px;
    top: -78px;
}

.advert__description {
    padding: 0px;
    gap: 16px;
}

.advert__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #1A3344;
    align-self: stretch;
}