.intro {
    width: 100%;
    background-color: var(--clr-background);
}

.intro--bg {
    background-color: var(--clr-white);
}

.intro__container--margin48 {
    margin: 48px 0;
}

.intro__container--margin80 {
    margin: 80px 0 48px 0 ;
}

.intro__description {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:16px;
}

.intro__text {
    width: 100%;
    max-width: 564px;
    font-weight: var(--ubuntu-fw-light);
    font-size: var(--fs-text);
    color: var(--clr-text-dark);
    line-height: 150%;
    text-align: center;
}

.intro__special {
    font-style: italic;
}

/* RWD */

@media screen and (max-width: 600px) {
    .intro__text {
        width: 80%;
    }
}