.tools__card {
    width: 40%;
    max-width: 260px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools__photo {
    width: 140px;
    height: 140px;
}

.tools__description {
    width: 100%;
    gap: 8px;
}

.tools__text {
    font-weight: var(--open-sans-fw-light);
    font-size: var(--fs-text);
    color: var(--clr-text-dark);
    line-height: 150%;
    text-align: center;
}

@media screen and (max-width: 880px) {
    .tools__photo {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 650px) {
    .tools__card {
        flex-direction: row;
        width: 95%;
        max-width: none;
    }
    .tools__photo {
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tools__description {
        width: 70%;
    }
}