.tools__card {
    width: 40%;
    max-width: 260px;
    gap: 24px;
}

.tools__photo {
    width: 140px;
    height: 140px;
}

.tools__description {
    width: 100%;
    gap: 8px;
}

.tools__text {
    font-weight: var(--open-sans-fw-light);
    font-size: var(--fs-text);
    color: var(--clr-text-dark);
    line-height: 150%;
    text-align: center;
}