.card__container {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:96px;
}
.card__container:nth-child(even) .card__description {
    order:2;
}

.card__description {
    max-width: 496px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left:32px;
    gap: 16px;
    /* flex:1 1 50%; */
}

.card__header {
    font-family: var(--font-family-secondary);
    font-weight: var(--ubuntu-fw-bold);
    font-size: var(--fs-header3);
    line-height: 37px;
    /* identical to box height */
    color: var(--clr-text-dark);
}

.card__text {
    font-weight: var(--open-sans-fw-light);
    font-size: var( --fs-text);
    line-height: 150%;
    /* or 24px */
    color: var(--clr-text-dark);
}

.card__photo {
    /* flex:1 1 40%; */
    max-width: 375px;
}