.message__container {
    position: absolute;
    top:40%;
    left: 0;
    right: 0;
    margin:0 auto;
    width: 100%;
    min-height: 200px;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-secondary);
    border-radius: 10px;
    box-shadow: 0 2px 3px var(--clr-shadow-btn2);
    z-index: 1000;
    gap:16px;
}

.message__info {
    color: var(--clr-input-label);
    margin: 10px 0px;
    font-size: var(--fs-text);
    font-weight: var(--open-sans-fw-semi-bold);
    letter-spacing: 0.3px;
    text-align: center;
}